<div class="jumbotron">
  <h1>Sarees</h1>
  <p class="lead">
    <img class="jumbotron-logo" src="src/images/logo.png"><br>
    Silk &amp; Cotton
  </p>
</div>

<!--<div>
	<div ng-repeat="item in awesomeThings">
		<h4>{{item.title}}</h4>
		<p>{{item.descr}}</p>
	</div>
</div>-->

<div class="row-fluid saree-grid">
  <div class="col-md-4" ng-repeat="saree in sarees">
  	<img ng-src="{{saree.thumbnail}}" class="img-rounded saree-thumbnail">
  	<h4> {{saree.type}} </h4>
    <div> {{saree.price | currency}} </div>
  </div>
</div>
