<!-- Single Saree Template -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			something is borked. rows / grid system not working help!
		</div>
		<div class="well col-md-8">
			<p>
		    	<span class="glyphicon glyphicon-tags"></span>
		    	<span class="saree-info-item">Categories: Silk, Samudhrika Pattu</span>
		    </p>
		    <p>
		    	<span class="glyphicon glyphicon-tint"></span>
		    	<span class="saree-info-item">Colour: Red, Green</span>
		    </p>
		    <p>
		    	<span class="glyphicon glyphicon-glass"></span>
		    	<span class="saree-info-item">Style: causal, formal</span>
		    </p>
		</div>
	</div>
</div>